

<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Excel Data</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">


				<table class="table table-responsive table-bordered table-striped">
					<thead>
						<tr>
							<th>Sr_No</th>
							<th>Reward Type</th>
							<th>Employee Name</th>
						</tr>
					</thead>

					<tbody>
					<tr th:each="employee : ${data}">
							<td th:text="${employee.srNo"></td>
							<td th:text="${​​​​​​​employee.rewardType}​​​​​​​"></td>
							<td th:text="${​​​​​​​employee.employeeName}​​​​​​​"></td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</body>
</html>




