<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h2>FILE UPLOAD</h2>
				<div class="alert alert-success alert-dismissible fade show"
					role="alert" th:if="${successmessage}">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span arial-hidden="true">&times;</span>
					</button>
					<strong th:text="${successmessage}"></strong> 
				</div>

					<div class="alert alert-danger alert-dismissible fade show"
					role="alert" th:if="${errormessage}">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span arial-hidden="true">&times;</span>
					</button>
					<strong th:text="${errormessage}"></strong> 
				</div>
				<form action="" th:action="@{'/fileupload'}" th:object="${user}"
					method="post" enctype='multipart/form-data'>
					<div class="form-group">
						<label for="fileupload"> Excel File Upload</label> <input
							type="file" class="form-control" id="file" name="file"
							th:field="*{file}">
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			
			</div>
			<div class="col-md-12">
				<h2>Users</h2>
				<table class="table table-bordered ">
					<thead>
						<tr>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Email</th>
							<th>Phone Number</th>
							<th>File Type</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="user : ${users}">
							<td th:text="${user.firstName}">John</td>
							<td th:text="${user.lastName}">Doe</td>
							<td th:text="${user.email}">john@example.com</td>
							<td th:text="${user.phoneNumber}">9878675645</td>
							<td th:text="${user.fileType}">xlsx</td>
						</tr>
					</tbody>
					</table>
			
			</div>
		</div>

	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>